@tailwind base;
@tailwind components;
@tailwind utilities;

/* تغییر استایل نقاط در حال رسم پلیگان */
.leaflet-div-icon.leaflet-editing-icon {
    background-color: red !important;
    border: 2px solid yellow !important;
    border-radius: 50% !important;
    width: 18px !important;
    height: 18px !important;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
  }
  
  @font-face {
    font-family: "Vazirmatn";
    src: local("Vazirmatn"),
      url("./fonts/Vazir.ttf") format("truetype");
    font-weight: normal;
    }
     
  .font-face-vz {
    font-family: "Vazirmatn";
  }
  .leaflet-top.leaflet-left {
    top: 100px !important;
    left: 10px !important; 
  }
  
  .leaflet-control-zoom a {
    background-color: rgb(49 46 129) !important;
    color: white !important;
    border-radius: 4px !important;
  }
  
  .leaflet-control-zoom a:hover {
    background-color: rgb(37 99 235) !important;
  }
  

